:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --primary-white-color: #ffffff;
  --footer-bg-color: #2f303a;
  --icon-bg-color: #f5f4fa;
  --primary-icon-text: #afb1b8;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --duration-function: 250ms;
}

body {
  /*width: 1600px;*/
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);

  font-family: Roboto, sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*Стилі для index.html*/
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  /*outline: 2px solid blue;*/
}

/*page-heade*/
.page-header {
  border-bottom: 1px solid #ececec;
}
.main-nav {
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
}
/*logo-basic*/
.logo-basic {
  color: #000000;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  text-decoration: none;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

/*site-nav*/
.site-nav {
  display: flex;
  margin-left: 93px;
  align-items: center;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;

  transition: color var(--duration-function) var(--timing-function);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.link.link.current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
/*auth-nav list*/
.auth-nav {
  display: flex;
  margin-left: auto;

  align-items: center;
}

.auth-nav .item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav .link {
  display: flex;
  align-items: center;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;

  transition: color var(--duration-function) var(--timing-function);

  /* outline: 2px solid blue;*/
}

.icon {
  display: block;
  width: 12px;
  height: 12px;
  padding: 0;
  margin-right: 10px;
  border: none;

  fill: currentColor;
  cursor: pointer;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

/*hero*/
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero.jpg');

  background-repeat: no-repeat;
  background-position: center;
  block-size: cover;

  text-align: center;
}
.hero-title {
  padding-top: 200px;
  margin: 0 auto 30px;
  max-width: 696px;

  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;

  text-transform: uppercase;
}
.btn {
  border-radius: 4px;
  padding: 10px 32px;
  border: 1px solid transparent;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  cursor: pointer;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

/*section*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.no-padding {
  padding-top: 0;
}
.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/*features*/
.features {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.features .list-item {
  max-width: 270px;
}
.features .list-item:not(:last-child) {
  margin-right: 30px;
}

.icon-logo {
  display: flex;
  width: 270px;
  height: 120px;
  padding: 25px 0;
  margin-bottom: 30px;
  background-color: var(--icon-bg-color);
  border-radius: 4px;
}

.icon-features {
  display: block;
  justify-content: center;
  width: 70px;
  height: 70px;
  margin: auto;
  border: none;
}

.features .title {
  margin-top: 0;
  margin-top: 30px;
  margin-bottom: 10p;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
}

.features .text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
/*examples*/
.work-list {
  display: flex;
  list-style: none;

  color: var(--title-text-color);
}

.work-list .item:not(:last-child) {
  margin-right: 30px;
}

.work-card {
  position: relative;
}

.description {
  display: inline-block;
  padding: 27px;

  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  text-align: center;
  background: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
}

.description .text {
  display: inline-block;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
}

/*team*/
.team {
  display: flex;

  background-color: #f5f4fa;
}
.team-list {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.team-list .item:not(:last-child) {
  margin-right: 30px;
}
.box-card {
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.card-text {
  padding-top: 30px;
  padding-bottom: 30px;
}
.card-text .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);

  font-weight: 500;
  line-height: 1.19;
  text-align: center;
}
.team-text {
  margin: 0 0 16px 0;
  font-weight: 400;
  line-height: 1.19;
  text-align: center;
}

.icon-card {
  display: flex;
  justify-content: center;
}

.social-links {
  display: inline-block;
  padding: 12px;
  margin-right: 10px;
  width: 44px;
  height: 44px;

  color: var(--primary-icon-text);

  border-radius: 50%;

  transition: background-color var(--duration-function) var(--timing-function),
    color var(--duration-function) var(--timing-function);
}

.icon-social {
  display: block;
  width: 20px;
  height: 20px;
  margin: auto;
  border: none;

  fill: currentColor;
  cursor: pointer;
}

.social-links:hover,
.social-links:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}
/*Постійні клієнти*/
.clients {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.clients .item:not(:last-child) {
  margin-right: 30px;
}
.link-clients {
  display: flex;
  padding: 16px 32px;
  width: 100%;
  height: 92px;
  color: var(--primary-icon-text);
  border: 1px solid rgba(175, 177, 184, 1);
  cursor: pointer;
  transition: color var(--duration-function) var(--timing-function),
    border var(--duration-function) var(--timing-function);
}

.icon-clients {
  display: block;
  width: 106px;
  height: 60px;
  margin: auto;
  border: none;

  fill: currentColor;
}

.clients .link-clients:hover,
.clients .link-clients:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/*footer*/
.page-footer {
  background-color: var(--footer-bg-color);
}
.footer-address {
  display: flex;
  padding-top: 60px;
  gap: 70px;
}

.text-logo {
  margin-bottom: 20px;
}
.text-logo .logo-basic {
  color: var(--primary-white-color);
}

.address-list {
  padding: 0;
  padding-bottom: 60px;
  margin: 0;
  width: 231px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  list-style: none;
}
.address-list .link {
  color: var(--primary-white-color);
  text-decoration: none;
}

.address-info .link {
  color: rgba(255, 255, 255, 0.6);
}

.social {
  padding-top: 12px;
  padding-bottom: 100px;
  display: block;
  margin-right: 93px;
}
.footer-title {
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primary-white-color);
}
.icon {
  display: flex;
  gap: 10px;
}

.footer-links {
  display: inline-block;
  padding: 12px;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);

  border-radius: 50%;

  transition: background-color var(--duration-function) var(--timing-function);
}

.footer-social {
  display: block;
  width: 20px;
  height: 20px;
  margin: auto;
  border: none;

  fill: currentColor;
  cursor: pointer;
}

.footer-links:hover,
.footer-links:focus {
  background-color: var(--accent-color);
}

.mailing-list {
  display: block;
  width: 570px;
  padding-top: 12px;
}
.subscription {
  display: flex;
  gap: 12px;
}
.form-subscription input {
  width: 357px;
  height: 50px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
  background-color: var(--footer-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.form-subscription input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  opacity: 0.8;
}

.form-btn {
  display: flex;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  padding: 10px 28px;
  gap: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  cursor: pointer;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  justify-content: center;
  align-items: center;
}
.icon-btn {
  display: block;
  width: 24px;
  height: 24px;
  margin: auto;
  border: none;
  justify-content: center;
  fill: currentColor;
}

/*Стилі для portfolio.html*/
/*filter*/
.container .filter {
  max-width: 575px;
}
.filter .title {
  margin-top: 0;
  margin-bottom: 0;

  text-align: center;
}
.button-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 50px;
  justify-content: center;
  list-style: none;
}

.button-list .item:not(:last-child) {
  margin-right: 8px;
}

.button {
  padding: 6px 22px;

  color: var(--title-text-color);

  cursor: pointer;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  border: none;
  border-radius: 4px;

  transition: background-color var(--duration-function) var(--timing-function),
    color var(--duration-function) var(--timing-function),
    box-shadow var(--duration-function) var(--timing-function);
}

.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*картки проєктів*/
.list {
  display: flex;
  flex-wrap: wrap;
}

.element {
  width: 370px;

  margin-right: 30px;
  margin-bottom: 30px;
}

.element:nth-child(3n) {
  margin-right: 0;
}

.element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

/*оверлей з текстом на картках*/
.project-card {
  position: relative;
  overflow: hidden;
}

.element:hover .project-actions {
  opacity: 1;
  transform: translatey(0);
}

.project-text {
  width: 322px;
  height: 168px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
}

.project-actions {
  position: absolute;
  padding: 63px 24px;
  top: 0;

  opacity: 0;

  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: opacity var(--duration-function) var(--timing-function),
    transform var(--duration-function) var(--timing-function);
}

.element-text {
  padding: 20px 24px;

  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.project-title {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.section-description {
  margin-top: 0;

  line-height: 1.88;
}
.link {
  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: box-shadow var(--duration-function) var(--timing-function);
}

.list .element:hover,
.list .element:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/*Модальне вікно*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  opacity: 1;
  background: rgba(0, 0, 0, 0.1);

  transition: opasity var(--duration-function) var(--timing-function),
    transform var(--duration-function) var(--timing-function);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0) rotateZ(0deg);
}

.modal {
  position: absolute;
  width: 100%;
  max-width: 528px;
  height: 100%;
  max-height: 581px;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1) rotateZ(360deg);

  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform var(--duration-function) var(--timing-function);
}

.close {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 6px;
  width: 30px;
  height: 30px;
  justify-content: center;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.close-btn {
  display: block;
  padding: 0;

  background-color: var(--primary-bg-color);
  border: none;
  cursor: pointer;
}
.icon-close {
  width: 11px;
  height: 11px;
  fill: currentColor;
  transition: color var(--duration-function) var(--timing-function);
}
.close .icon-close:hover,
.close .icon-close:focus {
  color: var(--accent-color);
}

.modal-title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}
.modal-contact {
  width: 448px;
  margin: 0;
}

.form-label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}
.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-input {
  display: block;
  height: 40px;
  padding-left: 42px;
  padding-top: 11px;
  padding-bottom: 11px;
  color: var(--title-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border var(--duration-function) var(--timing-function);
}
.form-input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}
.icon-input {
  position: absolute;
  top: 50%;
  left: 15px;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  fill: currentColor;
  transition: color var(--duration-function) var(--timing-function);
}

.form-field:focus-within > .icon-input {
  color: var(--accent-color);
}
.form-feedback {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}

.feedback {
  display: block;
  height: 120px;
  padding: 12px 16px;
  margin: 4px 0 0 0;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border var(--duration-function) var(--timing-function);
}
.feedback::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.16;

  color: rgba(117, 117, 117, 0.5);
}

.feedback:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}
.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox-label {
  display: flex;
  padding-left: 36px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  align-items: center;
}

.icon-checkbox {
  display: block;
  position: absolute;
  margin-left: -29px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  fill: transparent;
}

.checkbox:checked + .icon-checkbox {
  border: transparent;
  background-color: var(--accent-color);
  background-origin: border-box;
  fill: var(--primary-white-color);
}
.form-link {
  display: inline-block;
  margin-left: 7px;
  color: var(--accent-color);
  text-decoration-skip-ink: none;
}
.form-button {
  display: flex;
  justify-content: center;
}

.modal-btn {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  padding: 10px 32px;
  border: 1px solid transparent;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  cursor: pointer;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
