.clients{
	padding-top: 94px;
	padding-bottom: 94px;
}

.clients__title {
	margin-top: 0;
	margin-bottom: 50px;

	color: $title-text-color;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center
}

.clients__list{
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.clients__item:not(:last-child) {
	margin-right: 30px;
}

.clients__link {
	display: flex;
	padding: 16px 32px;
	width: 100%;
	height: 92px;
	color: $primary-icon-text;
	border: 1px solid rgba(175, 177, 184, 1);
	cursor: pointer;
	transition: color var($duration-function) var($timing-function),
		border $duration-function $timing-function;

	&:hover,
	&:focus {
		color: $accent-color;
		border: 1px solid $accent-color;
	}
}

.clients__icon {
	display: block;
	width: 106px;
	height: 60px;
	margin: auto;
	border: none;

	fill: currentColor;
}