.menu {
	display: flex;
	align-items: center;

	&__item:not(:last-child) {
			margin-right: 50px;
		}
}

.menu__list {
	display: flex;
	align-items: center;
}

.menu__link {
	position: relative;
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
	color: $title-text-color;
 
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;

	text-decoration: none;

	transition: color $duration-function $timing-function;

}

.menu__link:hover,
.menu__link:focus {
	color: $accent-color;
}

.menu__link--current {
	color: $accent-color;
}

.menu__link--current::after {
	position: absolute;
	left: 0;
	bottom: 0;
	content: '';
	display: block;
	width: 100%;
	height: 4px;
	background-color: $accent-color;
	border-radius: 2px;
}