.social__list{
	display: flex;
	margin-left: auto;
	margin-right: auto;
	padding-left: 32px;
	padding-right: 32px;
	list-style: none;
}

.social_item:nth-child(1) {
	margin-left: 0;
}

.social__links{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	width: 44px;
	height: 44px;

	color: $primary-icon-text;

	border-radius: 50%;

	transition: background-color $duration-function $timing-function,
							color $duration-function $timing-function;

	&:hover,
	&:focus {
		color: $primary-white;
		background-color: $accent-color;
	}
}

.social__icon{
	display: block;
	width: 20px;
	height: 20px;
	margin: auto;
	border: none;
	
	fill: currentColor;
	cursor: pointer;
}
