
	$secondary-font: 'Raleway', sans-serif;
	$main-font: 'Roboto', sans-serif;

	$primary-text-color: #757575;
	$title-text-color: #212121;
	$primary-icon-text: #afb1b8;

	$accent-color: #2196f3;
	$primary-white: #ffffff;
	$footer-bg-color: #2f303a;
	$primary-bg-color: #f5f4fa;
	$hero-background: #c4c4c4;

	$heder-border: #ececec;
	

	$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	$duration-function: 250ms;
